<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    {{title}}!!!
  </h1>
</div>
<div class="Dashboardcontainer">
  
  <label >
   <a routerLink="/Dashboard"><button> Dashboard</button></a>
  </label>
  
  <label>
   <a routerLink="/Heroes"> <button>Heroes</button></a>
  </label>

</div>
<router-outlet></router-outlet>
<!--<header>
    <div class="header-left">CoolLogo</div>
    <div class="header-center">
        <ul>
            <li><a href="#">Our products</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
    <div class="header-right"><button>Buy now</button></div>
</header>-->